@import "../../../scss/variables";
.page-our-fees{
  header{
    position: relative;
  }
}
.our-fees{
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  .separator{
    width: 25%;
    margin: 2vh 0;
    border-top: 1px solid #dadada;
  }
  .base-text{
    text-align: center;
  }
  .btn-base-green{
    margin-bottom: 1em;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .page-our-fees{
    header{
      position: fixed;
    }
  }
  .our-fees{
    width: 100%;
    padding: 5vh 15px;
  }
}