<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ user.id ? 'Change ' : 'Set ' }} password to {{ user.name }}</h3>
    </div>
    <div class="modal-body" id="modal-body">

        <div class="form-group">
            <input-password model="pass.password" label="'Password'"></input-password>
        </div>

        <div class="form-group">
            <input-password model="pass.password_confirmation" label="'Confirm password'"></input-password>
        </div>

        <div class="form-group">
            <span class="text-danger" ng-show="errorMessages.danger">{{ errorMessages.danger }}</span>
            <span class="text-danger" ng-show="errorMessages.password[0]">{{ errorMessages.password[0] }}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submit()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>