<div class="row">

    <div class="col-sm-3">
        <img ng-if="user.avatar" src="{{ user.avatar }}" class="avatar">
        <img ng-if="!user.avatar" src="../../../../img/avatar.jpg" class="avatar">
    </div>

    <div class="col-sm-9">

        <table class="table table-striped">
            <tr>
                <td>Name</td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

        <div class="" >
            <button class="btn btn-default" ng-click="edit()">Edit profile</button>
        </div>
    </div>

</div>